*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #00b9ef;
  margin: 0;
  padding: 0;
}

a {
  color: #ff4646;
}

.main-body {
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  min-height: 90vh;
  margin: 30px auto;
  box-shadow: 0 0 0 3px #51bcf3, 0 0 0 6px #2e94f4, 0 0 0 9px #fff,
    0 0 10px 9px #999;
  border-radius: 10px;
  padding: 20px;
  .result-area {
    text-align: center;
    min-height: 450px;
    .cover-img {
      display: block;
      width: 200px;
      height: 200px;
      margin: 10px auto;
    }
    .cover-tip {
      font-size: 12px;
      color: #ccc;
      text-align: center;
      margin: 0;
      line-height: 1.5;
    }
    .song-title {
      color: #2e94f4;
      font-size: 24px;
      line-height: 1.5;
      margin: 0;
    }
    .song-info {
      color: #333;
      line-height: 1.5;
      margin: 0;
      #lv-name {
        &.B {
          background-color: #ccffcc;
        }
        &.A {
          background-color: #ffdd99;
        }
        &.E {
          background-color: #ffccf7;
        }
        &.M {
          background-color: #eeccff;
        }
        &.R {
          background-color: #e9e6ff;
        }
      }
    }
    .table-lv {
      width: 100%;
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 15px 0;
      th,
      td {
        font-size: 16px;
        text-align: center;
        width: 20%;
        border: 1px solid #ccc;
        padding: 5px;
      }
      .table-lv-name {
        &.B {
          background-color: #ccffcc;
        }
        &.A {
          background-color: #ffdd99;
        }
        &.E {
          background-color: #ffccf7;
        }
        &.M {
          background-color: #eeccff;
        }
        &.R {
          background-color: #e9e6ff;
        }
      }
    }
  }
  .setting-area {
    margin: 20px auto;
    > button {
      display: block;
      margin: 10px auto;
      width: 100%;
      max-width: 300px;
      background-color: transparent;
      border: 0;
      font-size: 24px;
      color: #fff;
      padding: 5px;
      font-weight: bold;
      border-radius: 99em;
      cursor: pointer;
    }
    .roll-button {
      background-color: #b1d230;
      border: 3px solid #708e00;
      text-shadow: 0px 2px 2px #708e00, 2px 0px 2px #708e00,
        -2px 0px 2px #708e00, 0px -2px 2px #708e00;
      &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
    .setting-button {
      background-color: #82d0ce;
      border: 3px solid #259bc6;
      text-shadow: 0px 2px 2px #259bc6, 2px 0px 2px #259bc6,
        -2px 0px 2px #259bc6, 0px -2px 2px #259bc6;
    }
  }
  .footer {
    color: #666;
    font-size: 12px;
    text-align: center;
  }
}

.option-main {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
  .option-body {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    height: 100%;
    max-height: calc(100vh - 60px);
    margin: 30px auto;
    box-shadow: 0 0 0 3px #ff9f2d, 0 0 0 6px #f00, 0 0 0 9px #fff,
      0 0 10px 9px #999;
    border-radius: 10px;
    padding: 20px;
    overflow-y: scroll;
    .option-main-title {
      color: #ff7112;
      font-size: 24px;
      line-height: 1.5;
      margin: 0;
      text-align: center;
    }
    .option-block {
      margin: 15px auto;
      .option-title {
        font-size: 18px;
        line-height: 1.5;
        margin: 0.5em 0;
      }

      .option-block-rank {
        display: flex;
        .rank-label {
          width: calc(1 / 6 * 100%);
          text-align: center;
          input[type="radio"] {
            display: none;
          }
          .inner {
            display: block;
            border: 3px solid #ccc;
            padding: 5px;
            margin: 5px;
          }
          &.all {
            input:checked ~ .inner {
              border-color: #ccc;
              background-color: #ccc;
            }
          }
          &.B {
            .inner {
              border-color: #ccffcc;
            }
            input:checked ~ .inner {
              background-color: #ccffcc;
            }
          }
          &.A {
            .inner {
              border-color: #ffdd99;
            }
            input:checked ~ .inner {
              background-color: #ffdd99;
            }
          }
          &.E {
            .inner {
              border-color: #ffccf7;
            }
            input:checked ~ .inner {
              background-color: #ffccf7;
            }
          }
          &.M {
            .inner {
              border-color: #eeccff;
            }
            input:checked ~ .inner {
              background-color: #eeccff;
            }
          }
          &.R {
            .inner {
              border-color: #e9e6ff;
            }
            input:checked ~ .inner {
              background-color: #e9e6ff;
            }
          }
        }
      }

      .option-block-lv {
        display: flex;
        margin: 1em auto;
        input[type="number"] {
          width: 80px;
          background-color: #fff;
          border: 3px solid #999;
          &:focus {
            border-color: #259bc6;
          }
        }
      }

      .option-block-songlist {
        .songlist-item {
          margin: 10px auto;
          input[type="radio"] {
            display: none;
            &:checked ~ .songlist-label {
              border-color: #eeccff;
              background-color: #eeccff;
            }
          }
          .songlist-label {
            display: block;
            padding: 5px;
            border: 3px solid #ccc;
          }
        }
      }
    }
    .save-option {
      display: block;
      width: 200px;
      margin: auto;
      background-color: transparent;
      border: 0;
      font-size: 24px;
      color: #fff;
      padding: 5px;
      font-weight: bold;
      border-radius: 99em;
      cursor: pointer;
      background-color: #82d0ce;
      border: 3px solid #259bc6;
      text-shadow: 0px 2px 2px #259bc6, 2px 0px 2px #259bc6,
        -2px 0px 2px #259bc6, 0px -2px 2px #259bc6;
    }
  }
}
