@import "basic";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #00b9ef;
  margin: 0;
  padding: 0;
}

a {
  color: #ff4646;
}

.main-body {
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  min-height: 90vh;
  margin: 30px auto;
  box-shadow: 0 0 0 3px #51bcf3, 0 0 0 6px #2e94f4, 0 0 0 9px #fff,
    0 0 10px 9px #999;
  border-radius: 10px;
  padding: 20px;
  .result-area {
    text-align: center;
    .cover-img {
      display: block;
      width: 200px;
      height: 200px;
      margin: 10px auto;
      &.B {
        box-shadow: 0 0 0 5px $color-B;
      }
      &.A {
        box-shadow: 0 0 0 5px $color-A;
      }
      &.E {
        box-shadow: 0 0 0 5px $color-E;
      }
      &.M {
        box-shadow: 0 0 0 5px $color-M;
      }
      &.R {
        box-shadow: 0 0 0 5px $color-R;
      }
    }
    .cover-tip {
      font-size: 12px;
      color: #ccc;
      text-align: center;
      margin: 0;
      line-height: 1.5;
    }
    .song-title {
      color: #2e94f4;
      font-size: 20px;
      line-height: 1.5;
      margin: 0;
    }
    .song-info {
      color: #333;
      line-height: 1.5;
      margin: 0;
      #lv-name {
        &.B {
          background-color: $color-B;
        }
        &.A {
          background-color: $color-A;
        }
        &.E {
          background-color: $color-E;
        }
        &.M {
          background-color: $color-M;
        }
        &.R {
          background-color: $color-R;
        }
      }
    }
    .table-lv {
      width: 100%;
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 15px 0;
      th,
      td {
        font-size: 16px;
        text-align: center;
        width: 20%;
        border: 1px solid #ccc;
        padding: 5px;
      }
      .table-lv-name {
        &.B {
          background-color: $color-B;
        }
        &.A {
          background-color: $color-A;
        }
        &.E {
          background-color: $color-E;
        }
        &.M {
          background-color: $color-M;
        }
        &.R {
          background-color: $color-R;
        }
      }
      #table-lv-num {
        &-B.current {
          background-color: $color-B;
        }
        &-A.current {
          background-color: $color-A;
        }
        &-E.current {
          background-color: $color-E;
        }
        &-M.current {
          background-color: $color-M;
        }
        &-R.current {
          background-color: $color-R;
        }
      }
    }
  }
  .setting-info {
    text-align: center;
    color: #333;
    b {
      color: #000;
    }
    .setting-rank {
      &.B {
        color: $color-B-dark;
      }
      &.A {
        color: $color-A-dark;
      }
      &.E {
        color: $color-E-dark;
      }
      &.M {
        color: $color-M-dark;
      }
      &.R {
        color: $color-R-dark;
      }
    }
  }
  .setting-area {
    margin: 20px auto;
    > button {
      display: block;
      margin: 10px auto;
      width: 100%;
      max-width: 300px;
      background-color: transparent;
      border: 0;
      font-size: 24px;
      color: #fff;
      padding: 5px;
      font-weight: bold;
      border-radius: 99em;
      cursor: pointer;
    }
    .roll-button {
      background-color: #b1d230;
      border: 3px solid #708e00;
      text-shadow: 0 2px 2px #708e00, 2px 0 2px #708e00, -2px 0 2px #708e00,
        0 -2px 2px #708e00;
      &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
    .random-roll {
      background-color: #f6b32c;
      border: 3px solid #e17400;
      text-shadow: 0 2px 2px #e17400, 2px 0 2px #e17400, -2px 0 2px #e17400,
        0 -2px 2px #e17400;
      &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
    .setting-button {
      background-color: #82d0ce;
      border: 3px solid #259bc6;
      text-shadow: 0 2px 2px #259bc6, 2px 0 2px #259bc6, -2px 0 2px #259bc6,
        0 -2px 2px #259bc6;
    }
  }
  .footer {
    color: #666;
    font-size: 12px;
    text-align: center;
  }
}

.option-main {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
  .option-body {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    height: 100%;
    max-height: calc(100vh - 60px);
    margin: 30px auto;
    box-shadow: 0 0 0 3px #ff9f2d, 0 0 0 6px #f00, 0 0 0 9px #fff,
      0 0 10px 9px #999;
    border-radius: 10px;
    padding: 20px;
    overflow-y: scroll;

    .tips {
      font-size: 14px;
      color: #666;
      line-height: 1.2;
    }
    .option-main-title {
      color: #ff7112;
      font-size: 24px;
      line-height: 1.5;
      margin: 0;
      text-align: center;
    }
    .option-block {
      margin: 15px auto;
      .option-title {
        font-size: 18px;
        line-height: 1.5;
        margin: 0.5em 0;
      }

      .option-block-rank {
        display: flex;
        .rank-label {
          user-select: none;
          width: calc(1 / 6 * 100%);
          text-align: center;
          margin: 5px;
          &:hover {
            cursor: pointer;
          }
          input[type="radio"] {
            display: none;
          }
          .inner {
            display: block;
            border: 3px solid #ccc;
            padding: 5px;
          }
          &.all {
            input:checked ~ .inner {
              border-color: #ccc;
              background-color: #ccc;
            }
          }
          &.B {
            .inner {
              border-color: $color-B;
            }
            input:checked ~ .inner {
              background-color: $color-B;
            }
          }
          &.A {
            .inner {
              border-color: $color-A;
            }
            input:checked ~ .inner {
              background-color: $color-A;
            }
          }
          &.E {
            .inner {
              border-color: $color-E;
            }
            input:checked ~ .inner {
              background-color: $color-E;
            }
          }
          &.M {
            .inner {
              border-color: $color-M;
            }
            input:checked ~ .inner {
              background-color: $color-M;
            }
          }
          &.R {
            .inner {
              border-color: $color-R;
            }
            input:checked ~ .inner {
              background-color: $color-R;
            }
          }
        }
      }

      .option-block-category {
        margin: 1em auto;
        .cat-options {
          display: flex;
          flex-wrap: wrap;
          .cat-label {
            user-select: none;
            margin: 5px;
            &:hover {
              cursor: pointer;
            }
            input[type="checkbox"] {
              display: none;
            }
            .inner {
              display: block;
              border: 3px solid #ccc;
              padding: 5px;
            }

            input:checked ~ .inner {
              color: #fff;
            }

            &.all {
              color: #ccc;
              input:checked ~ .inner {
                color: #fb6099;
                border-color: #fb6099;
              }
            }
            &.pops_anime {
              color: #ff972a;
              input:checked ~ .inner {
                border-color: #ff972a;
                background-color: #ffc98f;
                text-shadow: 0 2px 2px #ff972a, 2px 0 2px #ff972a,
                  -2px 0 2px #ff972a, 0 -2px 2px #ff972a;
              }
            }
            &.niconico {
              color: #09c8d4;
              input:checked ~ .inner {
                border-color: #09c8d4;
                background-color: #85e6ed;
                text-shadow: 0 2px 2px #09c8d4, 2px 0 2px #09c8d4,
                  -2px 0 2px #09c8d4, 0 -2px 2px #09c8d4;
              }
            }
            &.toho {
              color: #ad59ee;
              input:checked ~ .inner {
                border-color: #ad59ee;
                background-color: #d4a2fa;
                text-shadow: 0 2px 2px #ad59ee, 2px 0 2px #ad59ee,
                  -2px 0 2px #ad59ee, 0 -2px 2px #ad59ee;
              }
            }
            &.variety {
              color: #42de6a;
              input:checked ~ .inner {
                border-color: #42de6a;
                background-color: #9bf2b1;
                text-shadow: 0 2px 2px #42de6a, 2px 0 2px #42de6a,
                  -2px 0 2px #42de6a, 0 -2px 2px #42de6a;
              }
            }
            &.maimai {
              color: #f74949;
              input:checked ~ .inner {
                border-color: #f74949;
                background-color: #fc9d9d;
                text-shadow: 0 2px 2px #f74949, 2px 0 2px #f74949,
                  -2px 0 2px #f74949, 0 -2px 2px #f74949;
              }
            }
            &.gekichu {
              color: #3585fe;
              input:checked ~ .inner {
                border-color: #3585fe;
                background-color: #94bfff;
                text-shadow: 0 2px 2px #3585fe, 2px 0 2px #3585fe,
                  -2px 0 2px #3585fe, 0 -2px 2px #3585fe;
              }
            }
          }
        }
      }

      .option-block-lv {
        display: flex;
        margin: 1em auto;
        input[type="number"] {
          width: 130px;
          background-color: #fff;
          border: 3px solid #999;
          &:focus {
            border-color: #259bc6;
          }
        }
      }

      #option-lv-max,
      #option-lv-max-plus {
        display: none;
        &.show {
          display: block;
        }
      }

      .option-block-songlist {
        .songlist-item {
          margin: 10px auto;
          input[type="radio"] {
            display: none;
            &:checked ~ .songlist-label {
              border-color: $color-M;
              background-color: $color-M;
            }
          }
          .songlist-label {
            display: block;
            padding: 5px;
            border: 3px solid #ccc;
          }
        }
      }
    }
    .save-option {
      display: block;
      width: 200px;
      margin: auto;
      background-color: transparent;
      border: 0;
      font-size: 24px;
      color: #fff;
      padding: 5px;
      font-weight: bold;
      border-radius: 99em;
      cursor: pointer;
      background-color: #82d0ce;
      border: 3px solid #259bc6;
      text-shadow: 0 2px 2px #259bc6, 2px 0 2px #259bc6, -2px 0 2px #259bc6,
        0 -2px 2px #259bc6;
    }
  }
}
