*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #00b9ef;
  margin: 0;
  padding: 0;
}

a {
  color: #ff4646;
}

.main-body {
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  min-height: 90vh;
  margin: 30px auto;
  box-shadow: 0 0 0 3px #51bcf3, 0 0 0 6px #2e94f4, 0 0 0 9px #fff, 0 0 10px 9px #999;
  border-radius: 10px;
  padding: 20px;
}
.main-body .result-area {
  text-align: center;
  min-height: 450px;
}
.main-body .result-area .cover-img {
  display: block;
  width: 200px;
  height: auto;
  margin: 10px auto;
}
.main-body .result-area .cover-tip {
  font-size: 12px;
  color: #ccc;
  text-align: center;
  margin: 0;
  line-height: 1.5;
}
.main-body .result-area .song-title {
  color: #2e94f4;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}
.main-body .result-area .song-info {
  color: #333;
  line-height: 1.5;
  margin: 0;
}
.main-body .result-area .song-info #lv-name.B {
  background-color: #ccffcc;
}
.main-body .result-area .song-info #lv-name.A {
  background-color: #ffdd99;
}
.main-body .result-area .song-info #lv-name.E {
  background-color: #ffccf7;
}
.main-body .result-area .song-info #lv-name.M {
  background-color: #eeccff;
}
.main-body .result-area .song-info #lv-name.R {
  background-color: #e9e6ff;
}
.main-body .result-area .table-lv {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 15px 0;
}
.main-body .result-area .table-lv th,
.main-body .result-area .table-lv td {
  font-size: 16px;
  text-align: center;
  width: 20%;
  border: 1px solid #ccc;
  padding: 5px;
}
.main-body .result-area .table-lv .table-lv-name.B {
  background-color: #ccffcc;
}
.main-body .result-area .table-lv .table-lv-name.A {
  background-color: #ffdd99;
}
.main-body .result-area .table-lv .table-lv-name.E {
  background-color: #ffccf7;
}
.main-body .result-area .table-lv .table-lv-name.M {
  background-color: #eeccff;
}
.main-body .result-area .table-lv .table-lv-name.R {
  background-color: #e9e6ff;
}
.main-body .setting-area {
  margin: 20px auto;
}
.main-body .setting-area > button {
  display: block;
  margin: 10px auto;
  width: 100%;
  max-width: 300px;
  background-color: transparent;
  border: 0;
  font-size: 24px;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  border-radius: 99em;
  cursor: pointer;
}
.main-body .setting-area .roll-button {
  background-color: #b1d230;
  border: 3px solid #708e00;
  text-shadow: 0px 2px 2px #708e00, 2px 0px 2px #708e00, -2px 0px 2px #708e00, 0px -2px 2px #708e00;
}
.main-body .setting-area .roll-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.main-body .setting-area .setting-button {
  background-color: #82d0ce;
  border: 3px solid #259bc6;
  text-shadow: 0px 2px 2px #259bc6, 2px 0px 2px #259bc6, -2px 0px 2px #259bc6, 0px -2px 2px #259bc6;
}
.main-body .footer {
  color: #666;
  font-size: 12px;
  text-align: center;
}

.option-main {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}
.option-main.show {
  opacity: 1;
  pointer-events: auto;
}
.option-main .option-body {
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  height: 100%;
  max-height: calc(100vh - 60px);
  margin: 30px auto;
  box-shadow: 0 0 0 3px #ff9f2d, 0 0 0 6px #f00, 0 0 0 9px #fff, 0 0 10px 9px #999;
  border-radius: 10px;
  padding: 20px;
  overflow-y: scroll;
}
.option-main .option-body .option-main-title {
  color: #ff7112;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}
.option-main .option-body .option-block {
  margin: 15px auto;
}
.option-main .option-body .option-block .option-title {
  font-size: 18px;
  line-height: 1.5;
  margin: 0.5em 0;
}
.option-main .option-body .option-block .option-block-rank {
  display: flex;
}
.option-main .option-body .option-block .option-block-rank .rank-label {
  width: calc(1 / 6 * 100%);
  text-align: center;
}
.option-main .option-body .option-block .option-block-rank .rank-label input[type=radio] {
  display: none;
}
.option-main .option-body .option-block .option-block-rank .rank-label .inner {
  display: block;
  border: 3px solid #ccc;
  padding: 5px;
  margin: 5px;
}
.option-main .option-body .option-block .option-block-rank .rank-label.all input:checked ~ .inner {
  border-color: #ccc;
  background-color: #ccc;
}
.option-main .option-body .option-block .option-block-rank .rank-label.B .inner {
  border-color: #ccffcc;
}
.option-main .option-body .option-block .option-block-rank .rank-label.B input:checked ~ .inner {
  background-color: #ccffcc;
}
.option-main .option-body .option-block .option-block-rank .rank-label.A .inner {
  border-color: #ffdd99;
}
.option-main .option-body .option-block .option-block-rank .rank-label.A input:checked ~ .inner {
  background-color: #ffdd99;
}
.option-main .option-body .option-block .option-block-rank .rank-label.E .inner {
  border-color: #ffccf7;
}
.option-main .option-body .option-block .option-block-rank .rank-label.E input:checked ~ .inner {
  background-color: #ffccf7;
}
.option-main .option-body .option-block .option-block-rank .rank-label.M .inner {
  border-color: #eeccff;
}
.option-main .option-body .option-block .option-block-rank .rank-label.M input:checked ~ .inner {
  background-color: #eeccff;
}
.option-main .option-body .option-block .option-block-rank .rank-label.R .inner {
  border-color: #e9e6ff;
}
.option-main .option-body .option-block .option-block-rank .rank-label.R input:checked ~ .inner {
  background-color: #e9e6ff;
}
.option-main .option-body .option-block .option-block-lv {
  display: flex;
  margin: 1em auto;
}
.option-main .option-body .option-block .option-block-lv input[type=number] {
  width: 80px;
  background-color: #fff;
  border: 3px solid #999;
}
.option-main .option-body .option-block .option-block-lv input[type=number]:focus {
  border-color: #259bc6;
}
.option-main .option-body .option-block .option-block-songlist .songlist-item {
  margin: 10px auto;
}
.option-main .option-body .option-block .option-block-songlist .songlist-item input[type=radio] {
  display: none;
}
.option-main .option-body .option-block .option-block-songlist .songlist-item input[type=radio]:checked ~ .songlist-label {
  border-color: #eeccff;
  background-color: #eeccff;
}
.option-main .option-body .option-block .option-block-songlist .songlist-item .songlist-label {
  display: block;
  padding: 5px;
  border: 3px solid #ccc;
}
.option-main .option-body .save-option {
  display: block;
  width: 200px;
  margin: auto;
  background-color: transparent;
  border: 0;
  font-size: 24px;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  border-radius: 99em;
  cursor: pointer;
  background-color: #82d0ce;
  border: 3px solid #259bc6;
  text-shadow: 0px 2px 2px #259bc6, 2px 0px 2px #259bc6, -2px 0px 2px #259bc6, 0px -2px 2px #259bc6;
}
/*# sourceMappingURL=style.css.map */
